body{
  background-color: black;

}
h1,h2,.description,.phoneicon{
  text-align: center;
  font-family: Verdana;
}
h1{
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.download{
  color: Aquamarine;
  font-size: 16px;
}
h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}
.description{
  color: gray;
  font-size: 21px;
}
#copyright{
  text-align: right;
  color: Gray;
  font-family: Verdana;
}
a{
  color:Aquamarine;
  font-size: 16px;
  text-align: center;
  font-family: Verdana;
}
.imagecentered{
  text-align:center;
  display:block;
}
p{
  text-align: center;
  font-family: Verdana;
}
